@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-primary-text: #ffffff;
  --color-secondary: #beff50;
  --color-secondary-text: #000000;
  --color-tertiary: #ffffff;
  --color-tertiary-text: #000000;
  --color-tertiary-border: #000000;
  --color-disabled: #b4b290;

  --color-link-secondary: #B4B290;
  --color-link-secondary-disabled: #D8D8D8;
  --color-link-tertiary: #D0CFB8;
  --color-link-tertiary-disabled: #C3C3C3;
  --color-link-primary-alt: #FFFFFF;
  --color-link-primary-alt-disabled: #949494;

  --font-sans: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
